*.log
bot_heartbeat.txt
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
*.egg-info
*.whl
*.tar.gz
*.zip
*.tar
*.gz
*.rar
*.7z
*.bz2
*.xz
*.tar.xz
*.tar.bz2
0000
*.DS_Store
*.vscode/
*.idea/
*.sublime-project
*.sublime-workspace
*.sublime-settings
migrations/
**/migrations/*.py
!**/migrations/__init__.py
